<!DOCTYPE html>
<html lang="en">
<head>
  <title>Inventory</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
  <style>
    .content {
      padding-top: 10%;
    }
  </style>
</head>
<body>

  <div id="app" class="container">
    <div class="row">
      <div class="col-md-4 content col-md-offset-4">
        <h3 class="text-center">Bazar List</h3>
        <form @submit.prevent="addItem">
          <input class="form-control" v-model="newItem">
          
        </form>
        <hr>
        <ul class="list-group">
          <li v-for="(item,index) in items" :key="index" class="list-group-item">
            <button class="btn btn-xs btn-danger" @click="removeItem(index)">
              remove
            </button>
             {{ item.name }} - <input v-model="item.price">
          </li>
          <li class="list-group-item">Total - {{total}}</li>
        </ul>
      </div>
    </div>
  </div>

  <!--js here-->
  <script src="./BazarList.js"></script>

</body>
</html>